@font-face {
	font-family: 'amogus';
	src: url('https://justincweiler.github.io/amogus-font/fonts/amogus.ttf');
}

* {
	text-transform: uppercase;
	font-family: 'amogus', Whitney, sans-serif !important;
}
