@font-face {
	font-family: 'Among Us Regular';
	src: url('https://justincweiler.github.io/amogus-font/fonts/amogus.ttf');
}

* {
	text-transform: uppercase;
	font-family: 'Among Us Regular' !important;
}
